.gallery {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.photo-card {
  margin: 15px 5px;
  border: 1px solid rgba(144, 144, 144, 0.541);
  border-radius: 3px;
  box-shadow: -1px 2px 13px -6px #000;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vertical a {
  width: 350px;
  height: 470px;
}
.horizontal a {
  width: 340px;
  height: 280px;
}

.photo-card img {
  background-color: #000;
  height: 70%;

  object-fit: cover;
  object-position: 50% 50%;

  overflow: hidden;
}

.info {
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

.info-item {
  padding: 5px;
  text-align: center;
}
