.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 6px 20px;

  position: absolute;
  top: 10px;
  left: 12px;
  z-index: 1000;

  border-radius: 5px;
  background-color: #fa9e35eb;
  position: fixed;

  box-shadow: 0px 0px 20px -4px #020202;
}

/* orientation SWITCH */
.orientation-switch {
  display: flex;
  align-items: center;
}

.orientation-switch__icon {
  color: currentColor;
  height: 44px;
  width: 44px;
}

.orientation-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
  margin: 0 10px;
}

.orientation-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.orientation-switch__toggle:focus,
.orientation-switch__toggle:active {
  outline: none;
}

.orientation-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #333;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.orientation-switch__marker {
  position: relative;
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms var(--timing-function);
}

.orientation-switch__toggle:checked + .orientation-switch__track {
  background-color: #d3d3d4;
}

.orientation-switch__toggle:checked ~ .orientation-switch__marker {
  transform: translateX(35px);
}

.orientation-switch__toggle:focus + .orientation-switch__track,
.orientation-switch__toggle:active + .orientation-switch__track {
  box-shadow: 0 0 0 3px #2196f3;
}
